/* GENERAL */
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.33rem;
  color: #777;
}

html {
  font-family: arial, sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 3.66rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #444;
  padding: 10rem 0 4rem 0;
}

h2 {
  font-family: 'Crete Round', serif;
  font-size: 3rem;
  color: #444;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
}

h4 {
  font-size: 1.6rem;
  color: #444;
  text-transform: uppercase;
}

li {
  display: inline;
}

ul {
  list-style: none;
}

.orange {
  color: #FF7A00;
}

/* HEADER */
header {
  height: 8rem;
  width: 62.66rem;
  margin: 0 auto;
  padding: 0 0.66rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
  margin-right: 1.33rem;
}

header a:hover {
  color: #FF7A00;
}

#lastNavItem {
  margin-right: 0;
}

/* MAIN IMAGE */
#mainImage {
  background: url('../images/main.jpg') center;
  height: 580px;
}

#mainImageContent {
  height: 38.66rem;
  width: 62.66rem;
  margin: 0 auto;
  padding: 0 0.66rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#btn1 {
  background-color: #FF7A00;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  color: #FFF;
  text-decoration: none;
  font-size: 1.33rem;
}

#btn1:hover {
  background-color: #02B8DD;
}

/* STEPS */
#steps {
  width: 62.66rem;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

#steps ul {
  display: flex;
}

#steps li:nth-child(-n+2) {
  margin-right: 0.66rem;
}

#steps p {
  color: #777;
  line-height: 1.33rem;
  margin: 1.33rem 0;
}

#steps img {
  margin-top: 5.33rem;
  margin-bottom: 2.66rem;
}

/* POSSIBILITIES */
#possibilities {
  background-color: #EFEFEF;
  margin-top: 5.33rem;
}

#possibilitiesContent {
  width: 62.66rem;
  margin: 0 auto;
  padding: 0 0.66rem;
  display: flex;
  justify-content: space-between;
}

.article {
  width: 30.66rem;
  height: 18rem;
  margin: 4rem 0;
  border-radius: 0.66rem;
  text-align: center;
}

.article h4 {
  border-bottom: 0.066rem solid #DDD;
  padding-bottom: 1.33rem;
  margin-bottom: 1.33rem;
}

.article p {
  font-size: 0.86rem;
  font-style: italic;
  margin-bottom: 1.33rem;
}

#article1 {
  background-image: url('../images/article-image-1.jpg');
}

#article2 {
  background-image: url('../images/article-image-2.jpg');
}

.overlay {
  background-color: rgba(255, 255, 255, 0.95);
  width: 12.66rem;
  height: 18rem;
  padding: 1.33rem;
  border-radius: 0.66rem 0 0 0.66rem;
  box-sizing: border-box;
}

.overlay a {
  padding: 0.4rem 1.33rem;
  background-color: #FF7A00;
  color: #FFF;
}

.overlay a:hover {
  background-color: #02B8DD;
}

/* CONTACT */
#contact {
  width: 62.66rem;
  margin: 4rem auto;
  padding: 0 0.66rem;
  text-align: center;
}

#contact h3 {
  width: 26.66rem;
  margin: 0 auto 1.33rem auto;
  padding-bottom: 1.33rem;
  border-bottom: 0.066rem solid #02B8DD;
}

form {
  margin-top: 4rem;
}

label {
  font-weight: bold;
  font-size: 1.33rem;
  margin-right: 0.66rem;
  color: #777;
}

input {
  padding: 0.66rem;
  font-size: 1.33rem;
  margin-right: 1.33rem;
  border: 0.133rem solid #DDD;
  border-radius: 0.2rem;
}

#btn2 {
  background-color: #02B8DD;
  border-style: none;
  border-radius: 0.2rem;
  font-weight: bold;
  color: #FFF;
  padding: 0.73rem;
}

#btn2:hover {
  background-color: #444;
}

/* FOOTER */
footer {
  background-color: #444;
  text-align: center;

}

footer h2 {
  padding-top: 5.33rem;
  color: #FFF;
}

footer p {
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 5.33rem;
}
